html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1050px) {
  .asset_layout{
    padding: 2rem;
    .box_container {
      flex-basis: 100% !important;
    }
    .calculator_container {
      flex-basis: 100% !important;
    }
  }
    
}


.asset_layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  flex-wrap: wrap;
  .calculator_container {
    padding: 3rem;
    border: 1px solid $border;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
  }
  .box_container {
    border: 1px solid $border;
    padding: 2rem;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 6px
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

:root {
  --transition-duration: 300ms;
}

.parent_container {
  background: var(--primary-1);
  color: var(--text-primary);
  transition: color, background-color var(--transition-duration);
}

@import '../components/switch/switch.scss';






